<div class="container">
    <h1 class="title">About KnoGen</h1>
    <p class="paragraph">
        KnoGen is a cross-document Retrieval-Augmented Generation (RAG) application that leverages a knowledge graph as its database. It provides an intuitive experience to ingest files, visualize the extracted concepts and relationships from those documents as a graph, and includes a Q&A feature for querying the documents.
    </p>
    <p class="paragraph">
        KnoGen was developed as part of an internship at Elyadata to obtain my engineering degree, within the framework of the end-of-studies internship for engineering students of the National School of Computer Sciences (ENSI).
    </p>
    <div class="image-row">
        <img src="assets/elyadata_logo.png" alt="Description of image" class="about-image">
        
    </div>
</div>
